*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-image:url("./bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.displayitem:hover{
    transform : scale(1.1)
}
.searchlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin : 20px;    
}

.search{
    width:300px;
    height: 50px;
    border-radius: 20px;
    border-color: yellow;
    margin:10px;
}

button{
    width:80px;
    height: 40px;
    border-radius: 20px;
     margin:10px;
     background-color: blanchedalmond;

}
button:hover{
    transform:scale(1.1);
}
h1{
    color:white
}
input{
    border-radius: 20px;
    width:200px;
    height: 50px;
     background-color: blanchedalmond;
}

.items{
  background-color: brown;
  border-radius:20px;
  margin:20px;
}
.btn2{
    border-radius:20px;
    width:10px;
    height:30px;
    text-align:center
}
