*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
.displayitem{
    width : 300px;
    background-color: blue;
    margin-bottom: 20px;
    border-radius: 10px;
    font-style: italic;
    transition: transform 0.2s; 
}
.displayitem:hover{
    transform : scale(1.1)
}
.searchlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin : 20px;    
}

.search{
    width:300px;
    height: 50px;
    border-radius: 20px;
    border-color: blue;
    margin:10px;
}

.btn{
    width:100px;
    height: 30px;
    border-radius: 20px;
    border-color: blue;
     margin:10px;
}
